.demo-collapse {
  .source {
    background: #f7f8fb;
    border: 1px solid #f0f1f5;
  }

  .source-color {
    background: #fff;
    border: 1px solid #f0f1f5;
  }

  .el-collapse-item__header {
    .header-icon {
      margin-left: 5px;
    }
  }
}
